@import "~typeface-grenze-gotisch";
@import "variables";
@import "default";

* {
  @include reset-list;
}

header {
  height: 60px;
  display: flex;
  align-items: center;

  .navbar-brand {

  }
  nav {
    width: 100%;
    ul {
      list-style: none;
      display: flex;
      justify-content: end;

      li {
        a {
          @include reset-list
        }
      }
    }
  }
}

.slider {
  h1 {
    font-family: "Grenze Gotisch", cursive;
  }
}