@import "~typeface-grenze-gotisch";
@import "variables";
@import "default";
@import "animation";

//NAVBAR

header {
  height: 100px;
  display: flex;
  align-items: center;

  .navbar-brand {
    width: 300px;

    img {
      width: 100%;
      display: block;
    }
  }

  nav {
    width: 100%;

    ul {
      list-style: none;
      display: flex;
      justify-content: end;

      li {
        padding: 10px;

        a {
          @include text-white;
          @include reset-link;
          @include font-primary;
        }
      }
    }
  }
}

//SLIDER
.slider {
  position: relative;

  .slideshow-container {
    position: relative;
    margin: auto;

    img {
      width: 100%;
    }
  }

  .prev, .next {
    position: absolute;
    top: 0;
    height: 100%;

    button {
      height: 100%;
      width: 150px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}