@import "~typeface-grenze-gotisch";
@import "variables";
@import "default";

* {
  @include reset-list;
}

body {
  color: #fff;
  background-color: #000;
}

header {
  height: 100px;
  display: flex;
  align-items: center;

  .navbar-brand {
    width: 300px;

    img {
      width: 100%;
      display: block;
    }
  }
  nav {
    width: 100%;
    ul {
      list-style: none;
      display: flex;
      justify-content: end;

      li {
        padding: 10px;

        a {
          @include text-white;
          @include reset-link;
          @include font-primary;
        }
      }
    }
  }
}

.slider {
  h1 {
    font-family: "Grenze Gotisch", cursive;
  }
}