@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

@mixin reset-link {
  text-decoration: none;
}

@mixin text-white {
  color: #fff;
}

@mixin text-yellow {
  color: #f9bc01;
}

@mixin text-justify {
  text-align: justify;
}

@mixin font-primary {
  font-family: "Grenze Gotisch", cursive;
}

@mixin font-secondary {
  font-family: "Poppins", sans-serif;
}